.create-tasks {
    background-color: rgb(138, 60, 14);
    border: none;
    padding: 3px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

span {margin-right: 1rem;}

.create-tasks:hover {
    opacity: 0.8;
}

.fa-trash-can {
    color: rgb(244,54, 54);
    cursor: pointer;
}

.fa-trash-can:hover {
    opacity: 0.8;
}

.tasks {
    margin-top: 1rem ;
}